* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.grid {
  display: grid;
  align-self: center;
  gap: 20%;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
