/*BELOW 1152px (Tablets)*/
/*@media (max-width: 400px) {
  html {
    font-size: 56.25%;
  }
  .textbox h2 {
    font-size: 5.2rem;
  }

  .textbox p {
    font-size: 1.6rem;
  }

  /*.main-media {

}

  .copyright {
    font-size: 1.4rem;
  }
  .contacts.address-p {
    font-size: 1.4rem;
  }
}
*/
