/*LOGO & NAV-LINK*/
.header {
  background-color: #f4fce3;
  height: 150px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
}
.logo {
  padding: 20px 0;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #5c940d;
  border-bottom: 3px solid #000;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #69db7c;
  color: #fff;
  border-radius: 9px;
  padding: 10px 15px;
}

/*-- HAMBURGER MENU---*/
.hamburger {
  display: none;
  cursor: progress;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  background-color: #5c940d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*---HERO---*/

.hero {
  background-color: #f4fce3;
  height: 100vh;
  padding: 32px 0;
}

.textbox h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0;
  color: #333;
}

.textbox span {
  color: green;
}

.textbox p {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 25px;
}

.textbox .learn {
  padding: 15px 20px;
  border-radius: 8px;
  color: whitesmoke;
}

.learn:link,
.learn:visited {
  display: inline-block;
  transition: all 0.7s;
  background-color: #69db7c;
}

.learn:hover,
.learn:active {
  background-color: #2b8a3e;
}

.coffee-img {
  width: 100%;
}
/*--FOOTER--*/
.footer {
  background-color: #087f5b;
  height: 40vh;
  padding: 32px 0;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  color: #9b9797;
}

.footer-heading {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.contacts {
  font-size: 16px;
  color: #9b9797;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer--link:link,
.footer--link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #9b9797;
  transition: all 0.7s ease-in-out;
}

.footer--link:hover,
.footer--link:active {
  color: #131212;
}

/*---MEDIA QUERIES---*/
@media (max-width: 1100px) {
  .footer .grid {
    gap: 70px;
  }
}

@media (max-width: 900px) {
  .flex {
    flex-direction: column;
  }

  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    height: auto;
  }
  .footer {
    height: auto;
  }
}

@media (max-width: 768px) {
  .flex {
    gap: 20px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }

  .main-nav-list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #f4fce3;
    text-align: center;
    transition: 0.3s;
    width: 100%;
  }

  .main-nav-list.active {
    left: 0;
  }

  .nav-item {
    margin: 15px 0;
  }
  .textbox h2 {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .footer .grid {
    gap: 40px;
  }
}
