/*LOGO & NAV-LINK*/

.header {
  background-color: #f4fce3;
  height: 150px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.logo {
  padding: 20px 0;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #5c940d;
  border-bottom: 3px solid #000;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #69db7c;
  color: #fff;
  border-radius: 9px;
  padding: 10px 15px;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active {
  background-color: #2b8a3e;
}

/*MAIN CONTENT*/

.hero {
  background-color: #f4fce3;
  height: 100vh;
  padding: 32px 0;
  position: relative;
}

.textbox h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0;
  color: #333;
}

.textbox span {
  color: green;
}

.textbox p {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 25px;
}

.textbox .learn {
  padding: 15px 20px;
  border-radius: 8px;
  color: whitesmoke;
}

.learn:link,
.learn:visited {
  display: inline-block;
  transition: all 0.7s;
  background-color: #69db7c;
}

.learn:hover,
.learn:active {
  background-color: #2b8a3e;
}

.coffee-img {
  width: 100%;
}

.main-thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44%, 100%);
}

.thumb {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6rem;
  display: flex;
  flex-direction: row;
  transform: translate(-20%, 50%);
}

.thumb li {
  list-style: none;
  cursor: pointer;
  transition: 0.8s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.main-media {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(50%, -40%);
}

.media {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}

.media li {
  list-style: none;
}

.media li:hover {
  transform: translateY(-15px);
}

/*FOOTER*/

.footer {
  background-color: #087f5b;
  height: 40vh;
  padding: 32px 0;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.copyright {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #9b9797;
}

.footer-heading {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

.contacts {
  font-size: 16px;
  color: #9b9797;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer--link:link,
.footer--link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #9b9797;
  transition: all 0.7s ease-in-out;
}

.footer--link:hover,
.footer--link:active {
  color: #131212;
}
